<?php
	// DB Params
	define('DB_HOST', 'localhost');
	define('DB_USER', YOUR_USER);
	define('DB_PASS', YOUR_PASSWORD);
	define('DB_NAME', YOUR_DATABASE);

	// App Root
	define('APPROOT', dirname(dirname(__FILE__)));
	// URL Root
	define('URLROOT', YOUR URLROOT);
	// Site Name
	define('SITENAME', YOUR SITE NAME);

?>